body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #ca2c37;
}

/* ______стили header общие ______*/

.main-header {
  margin-bottom: 19px;
  min-height: 320px;

  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;

  background-color: #f4f7f9;
}

.header-info {
  width: 100%;
  background-color: #293449;
}

.header-info-wrapper {
  display: flex;
  align-items: center;
  width: 940px;
  height: 42px;
  margin: 0 auto;
}

.header-logo-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 43px;

  box-shadow: 0 5px 0 0 rgb(171, 41, 48);
  background-color: #ee3643;
}

.header-logo-link:hover, 
.header-logo-link:focus {
  background-color: #ca2c37;
}

.header-logo-link:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
  min-height: 42px;
}

.search-field-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search-form svg {
  margin: 0;
  padding: 17px 14px 15px 17px;

  opacity: 0.3;
}

.search-form svg:hover {
  color: #ffffff;
}

.search-field {
  width: 100%;
  margin: 0;
  padding: 12px 14px 12px 0;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  border-style: none;
  background-color: #293449;
}

.header-menu {
  display: flex;
}

.header-menu-item {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-width: 150px;
  padding: 12px 18px 12px 18px;

  font-size: 17px;
  line-height: 18px;
}

.header-menu-link {
  justify-content: flex-start;
}

.header-menu-icon {
  padding-right: 13px;
  color: #ffffff;
}

.button-green {
  padding: 10px 20px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #63a63e;
  border: none;
}

.button-green:hover, 
.button-green:focus {
  background-color: #5fbb2d;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.shop-info {
  width: 100%;
  background-color: inherit;
}

.shop-info-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 940px;
  min-height: 158px;
  margin: 0 auto;
  padding-top: 46px;
}

.shop-title {
  width: 200px;
  min-height: 60px;
  margin: 0 67px 0 0;
  padding: 2px 0 0 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  color: #ee3643;
}

.shop-contacts {
  display: flex;
  flex-direction: column;
}

/* .shop-phone {
  display: flex;
  width: 270px;
  margin: 0;

  box-sizing: border-box;
  
  border: solid 3px #ffffff;
} */

.shop-phone-link {
  display: flex;
  justify-content: center;
  width: 270px;
  margin: 0;
  padding: 9px 0 11px 10px;

  box-sizing: border-box;

  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #ee3643;
  border: solid 3px #ffffff;

  background-image: url(/img/icon-phone.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 14px 50%;
}

.shop-address {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0 0 0 auto;

  list-style: none;
}

.user-navigation-item {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  padding: 14px 25px 11px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-item:hover, 
.user-navigation-item:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.user-navigation-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-navigation-item svg {
  margin-right: 14px;
}

.site-navigation {
  display: flex;
  align-items: center;
  width: 940px;
  min-height: 60px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 17px 0 17px;

  list-style: none;
}

.site-navigation-item {
  padding: 21px 31px 20px;
}

.header-menu-item,
.site-navigation-item {
  color: #ffffff;
}

.header-menu-item:hover, 
.header-menu-item:focus, 
.search-field:hover, 
.search-field:focus,
.site-navigation-item:hover, 
.site-navigation-item:focus {
  background-color: #212a3a;
}

.header-menu-item:active,
.site-navigation-item:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

/* доп. стили header для авторизованного пользователя */

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}

.login-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 299px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  list-style: none;
}

.login-link-item {
  display: flex;
  justify-content: space-between;
  padding: 13px 10px 14px 13px;

  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.login-link-item:hover, 
.login-link-item:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.login-link-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.login-name {
  padding-left: 14px;
}

.login-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0; 
  margin: 0 0 0 18px;

  list-style: none;
}

.login-navigation li {
  padding-right: 20px;
  margin-right: 12px;
}

.login-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-navigation-link:hover, 
.login-navigation-link:focus {
  color: #ee3643;
}

.login-navigation-link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* стили для главной страницы */

.company-info {
  width: 100%;
  background-color: inherit;
}

.company-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 536px;
  margin: 0 auto;
}

.about-company {
  width: 520px;
  min-height: 368px;
  margin: 0;
  padding: 0;
}

.info-description {
  font-size: 13px;
  line-height: 24px;
}

.text-contractors {
  width: 386px;
}

.company-office {
  width: 300px;
  min-height: 368px;
  margin: 0;
  padding: 0;
}

.contractors {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.contractors li {
  position: relative;

  margin-top: 20px;
  padding-left: 36px;
}

.contractors li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.text-office {
  width: 179px;
  margin-bottom: 30px;
}

/* стили для страницы каталога */

.catalog-container-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 17px 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs-item {
  color: #000000;
}

.page-title {
  margin: 0 0 20px 0;
  padding: 32px 0 32px 28px;

  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.page-subtitle {
  margin: 0 0 26px 0;

  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.brand-filter,
.power-filter {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled+label {
  color: rgba(0, 0, 0, 0.4);
}

.button-next {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  vertical-align: middle;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 0 52px auto;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 218px;
  min-height: 318px;
  margin: 0 20px 20px 0;

  text-align: center;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-link {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.item-tools {
  list-style: none;
}

.button-buy {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.button-bookmark {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.pagination-list {
  display: flex;
  margin: 0 0 60px 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover, 
.pagination-item a:focus {
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-item-current a:hover, 
.pagination-item-current a:focus, 
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

/* футер */

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 193px;
  margin: 0;
  padding: 0;
}

.footer-navigation-wrapper {
  width: 323px;
  min-height: 140px;
  margin: 0;
  padding: 0;
}

.footer-logo-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  margin-bottom: 30px;

  box-shadow: 0 5px 0 0 rgb(171, 41, 48);
  background-color: #ee3643;
}

.footer-logo-link:hover, 
.footer-logo-link:focus {
  background-color: #ca2c37;
}

.footer-logo-link:active {
  background-color: #ba2732;
}

.footer-phone-link {
  color: #ffffff;
}

.footer-navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0;
  margin-top: 36px;
  margin-bottom: 18px;

  list-style: none;
}

.footer-navigation-list li {
  margin-left: 60px;
}

.footer-navigation-list li:first-child {
  margin-left: 0;
}

.footer-site-link {
  color: #ffffff;
}

.footer-catalog-link {
  color: #ffd180;
}

.footer-site-link:hover,
.footer-site-link:focus,
.footer-catalog-link:hover,
.footer-catalog-link:focus {
  text-decoration: underline;
}

.footer-site-link:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts {
  display: flex;
  width: 100%;
  min-height: 107px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 107px;
  margin: 0 auto;
  padding: 22px 0 0 0;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 228px;
  margin: 0 42px 0 0;
  padding: 0;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 15px 0 0 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;

  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  color: #ffffff;
  background-color: #ee3643;
}

.footer-additional-wrapper {
  display: flex;
  margin: 0 13px 0 0;
  padding: 0;
}

.footer-additional {
  display: flex;
  flex-direction: column;
  margin-left: 53px;
}

.footer-additional:first-child {
  margin-left: 0;
  margin-left: 53px;
}

.footer-additional-link {
  color: #ffd180;
}

.footer-additional-link:hover,
.footer-additional-link:focus {
  text-decoration: underline;
}

.footer-additional-link:hover,
.footer-additional-link:focus {
  text-decoration: underline;
}

.footer-additional-link:active {
  color: #ee3643;
}

/* стили для форм обратной связи - временно скрыты */

.modal-feedback, .add-to-cart {
  display: none;
}

.feedback-form {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.button-wrap {
  background-color: #f1f1f1;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #b5b5b5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #ee3643;
}

.add-to-cart {
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.form-title {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-image: url(/img/icon-mark.svg);
  background-repeat: no-repeat;
}

.button-close {
  border: none;
}

.button-ghost {
  font-family: "Cuprum", "Arial Narrow", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}
